.nav-tabs{
    .nav-item{
        margin-right: 50px;
        border-radius: 50px;
        background-color: #ddd;
        padding: 3px 20px;
        
        button{
            padding: 0 20px;

        color: #000000;
            font-size: 20px;
            font-weight: 500;
        background-color: #ddd;

        }
    }
}  